{% extends "base.html" %}

{% block title %}Car List{% endblock %}

{% block content %}

    <div class="row">
        {% for car in car_list %}
        <div class="col-sm-4">
            <div class="card">
                <h2 class="card-title text-center mt-3 mb-0">{{ car.number }}</h2>
                <a href="{{ url_for('single_car', id=car.id) }}">
                    <img src="{{ car.image }}" class="card-img-top" alt="Car Image" style="width: 100%; height: 150px; object-fit: cover" />
                </a>
                <div class="card-body">
                    <p class="card-text">{{ car.problems | join(", ") }}</p>
                    <a href="{{ url_for('edit_car', id=car.id) }}" class="btn btn-primary">Edit</a>
                    <a href="{{ url_for('delete_car', id=car.id) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
