<!DOCTYPE html>
<html lang="en">
<head>
    <title>Car List</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-bottom: 50px;
            border-radius: 0;
        }
        .jumbotron {
            margin-bottom: 0;
        }
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
        .panel-body img {
            width: 100%;
            height: auto;
        }
        .jumbotron-sm {
            padding: 2rem 1rem;
        }
        .jumbotron-sm h1 {
            font-size: 2.5rem;
        }
    </style>
</head>
<body>
    <div class="jumbotron jumbotron-sm">
        <div class="container text-center">
            <h1 class="h1">Tal's Garage</h1>
            <h2 class="h2">No Shoes, No Shirts, No Mazdas</h2>
        </div>
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">All Cars</a></li>
                    <li><a href="/?urgent=true">Urgent Cars</a></li>
                    <li><a href="/?problem=engine">Engine issue</a></li>
                    <li><a href="/?problem=gear">Gear issue</a></li>
                    <li><a href="/add_car">Add car</a></li>
                    <li><a href="/search_car">Search</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if session.get("user") %}
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-user"></span> Welcome, {{ session["user"] }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <h2>Search for Cars by Problem</h2>
    <form action="/" method="GET">
        <label for="problem">Enter a problem:</label><br />
        <input type="text" id="problem" name="problem" placeholder="Enter problem..." /><br /><br />
        <input type="submit" value="Search" />
    </form>

    <div class="container">
        <div class="row">
            {% for car in car_list %}
            <div class="col-sm-4">
                <div class="card">
                    <h2 class="card-title text-center mt-3 mb-0">{{ car.number }}</h2>
                    <a href="/single_car/{{ car.id }}">
                        <img src="{{ car.image }}" class="card-img-top" alt="Car Image" style="width: 100%; height: 150px; object-fit: cover" />
                    </a>
                    <div class="card-body">
                        <p class="card-text">{{ car.problems }}</p>
                        <a href="{{ url_for('edit_car', id=car.id) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ url_for('delete_car', id=car.id) }}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <br /><br />

    <footer class="container-fluid text-center">
        <p>Garage Copyright</p>
        <form class="form-inline">
            Get deals:
            <input type="email" class="form-control" size="50" placeholder="Email Address" />
            <button type="button" class="btn btn-danger">Sign Up</button>
        </form>
    </footer>
</body>
</html>
