{% extends "base.html" %}

{% block title %}Search Car{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Search Car</h2>
            <form action="{{ url_for('search_car') }}" method="POST">
                <div class="form-group">
                    <label for="id">Enter Car ID:</label>
                    <input type="text" class="form-control" id="id" name="id" required />
                </div>
                <button type="submit" class="btn btn-primary">Search Car</button>
            </form>
            {% if car %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ car.number }}</h3>
                </div>
                <div class="panel-body">
                    <img src="{{ car.image }}" class="img-responsive" alt="Car Image">
                    <p>Problems: {{ car.problems | join(", ") }}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
